<% @post.comments.each do |comment| %>
    <div class="well">
    <p><strong><%=comment.name %></strong>: <%=comment.body%><br><br>
    <%= link_to 'Remove Comment', [comment.post, comment],method: :delete, data:{confirm:'Do you want to delete?'}, :class => 'btn btn-danger'%></p>
    </div>
<% end %>